.container-coin{
  display: flex;
  align-items: center;
  height: 32%;
  width: 100%;
  flex-flow: column;
}

.container-coin2{
  display: flex;
  align-items: center;
  height: 32%;
  width: 100%;
  flex-flow: column;

  .coluna{
    display: flex;
    align-items: center;
    height: 50%;
    width: 80%;
    float: left;
  }

}

.container-coin3{
  display: flex;
  align-items: center;
  height: 30%;
  width: 100%;
  flex-flow: column;

  .contagem{
    display: flex;
    align-items: center;
    height: 50%;
    width: 90%;
    float: left;


  }

}


