<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-coin">
  <h1>Valendo: 1</h1>

  <div>
    <ion-button>1</ion-button>
    <ion-button>3</ion-button>
    <ion-button>6</ion-button>
    <ion-button>9</ion-button>
    <ion-button>12</ion-button>
  </div>

</div>

<div class="container-coin2">
  <div class="coluna1">
    <h1>Time1</h1>
    <ion-button>+</ion-button>
    <h2>0</h2>
    <ion-button>-</ion-button>
  </div>


  <div class="coluna2">
  <h1>Time2</h1>
  <ion-button>+</ion-button>
    <h2>0</h2>
    <ion-button>-</ion-button>
  </div>

</div>

<div class="container-coin3">
  <h1>Valendo: 1</h1>

  <div>
    <ion-button>1</ion-button>
    <ion-button>3</ion-button>
    <ion-button>6</ion-button>
    <ion-button>9</ion-button>
    <ion-button>12</ion-button>
  </div>

</div>


</ion-content>
