<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-coin">

    <div class="valendo">
  <ion-grid>
  <ion-row>
  <ion-col>Valendo: </ion-col>
  <ion-col>{{carta}}</ion-col>
</ion-row>
</ion-grid>
    </div>

    <div class="button">
  <ion-grid>
    <ion-button color="dark" style="width: 60px;">1</ion-button>
    <ion-button color="dark" style="width: 60px;">3</ion-button>
    <ion-button color="dark" style="width: 60px;">6</ion-button>
    <ion-button color="dark" style="width: 60px;">9</ion-button>
    <ion-button color="dark" style="width: 60px;">12</ion-button>
  </ion-grid>
</div>
</div>

<div class="container-coin2">

  <div class="coluna">
    <ion-card>
      <ion-card-header>
        <ion-title>Time 1</ion-title>

        <ion-button>+</ion-button>
        <h1>{{time1}}</h1>
        <ion-button>-</ion-button>

      </ion-card-header>

    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-title>Time 2</ion-title>

        <ion-button>+</ion-button>
        <h1>{{time2}}</h1>
        <ion-button>-</ion-button>

      </ion-card-header>

    </ion-card>
  </div>
</div>

<div class="container-coin3">
  <h1>Partidas</h1>

  <div class="contagem">

    <div class="time">
  <ion-item>
    <h1>Time 1</h1>
  </ion-item>
    <ion-item>
    <h1>Time 2</h1>
  </ion-item>
</div>

<div class="num">
  <ion-item>
    <h1>{{partida1}}</h1>
  </ion-item>
    <ion-item>
    <h1>{{partida2}}</h1>
  </ion-item>
</div>

</div>

</div>

<ion-button expand="block">Limpar</ion-button>

</ion-content>
